.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.card__image {
  width: 100%;
  height: 413px;
  border-radius: 2%;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
}

.card__text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  padding-top: 12px;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  border: 0;
  background-color: #fcf5e5;
}

.card__like-button:hover {
  color: #000;
}

.card__like-icon {
  filter: brightness(0) saturate(100%) invert(0.5);
}
