.card {
  position: relative;
  list-style-type: none;
}

.card__image {
  cursor: pointer;
  width: 100%;
  height: 413px;
  border-radius: 8px;
  object-fit: cover;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  max-width: 250px;
  padding: 12px 0 4px;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 23px;
  height: 20px;
  background-image: url(../images/like-icon-dark.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/State=Liked.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-image: url(../images/State=Default.svg);
}

.card__delete-button:hover {
  background-image: url(../images/State=Hover.svg);
  opacity: 1;
}

@media all and (max-width: 403px) {
  .card__image {
    max-width: 288px;
    max-height: 288px;
    margin: 0 auto;
    object-fit: cover;
  }
  .card__wrapper {
    max-width: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 100%;
  }
}
