.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  font-size: 23px;
  padding: 0;
  margin: 0;
  background: transparent url(../images/Property\ 1=Default.svg) center
    no-repeat;
  border: none;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #21212170;
  padding-bottom: 32px;
}

.modal__input {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  max-width: 630px;
  width: 100%;
  height: 52px;
  border: 1px solid #21212140;
  border-radius: 8px;
  display: block;
  margin-top: 8px;
  padding: 0 10px;
  box-sizing: border-box;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid #212121;
}

.modal__save-btn {
  cursor: pointer;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  max-width: 156px;
  width: 100%;
  height: 52px;
  border: none;
}

.modal__save-btn:hover {
  cursor: pointer;
  background-color: #21212180;
}

.modal__content {
  position: relative;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -52.5px;
  font-size: 23px;
  padding: 0;
  margin: 0;
  background: transparent url(../images/Property\ 1=Variant3.svg) center
    no-repeat;
  border: none;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__description {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  max-width: 214px;
  width: 100%;
  border-radius: 8px;
  color: #fff;
  background-color: #212121;
  margin: 8px auto 8px 0;
  display: flex;
  justify-content: flex-start;
}

@media all and (max-width: 536px) {
  .modal__container {
    max-width: 492px;
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 22px 0 0;
  }
  .modal__form {
    max-width: 492px;
    padding-top: 24px;
  }
  .modal__label {
    max-width: 476px;
    font-size: 16px;
  }
  .modal__input {
    height: 48px;
  }
  .modal__save-btn {
    max-width: none;
  }
  .modal__close {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
