.profile {
  display: flex;
  padding-top: 34px;
  padding-bottom: 20px;
}

.profile__avatar {
  width: 190px;
  height: 190px;
  border-radius: 8px;
  padding-right: 20px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.profile__name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
  filter: brightness(0) saturate(100%) invert(0.5);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button {
  cursor: pointer;
  opacity: 0.7;
  border: 0;
  background-color: #fcf5e5;
  display: flex;
  margin-right: 0;
  margin-top: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding-left: 0px;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__edit-icon {
  filter: brightness(0) saturate(100%) invert(0.5);
  padding-right: 8px;
}
.profile__button-label {
  filter: brightness(0) saturate(100%) invert(0.5);
}

.profile__new-post-button {
  cursor: pointer;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  margin-top: auto;
  border: none;
}

.profile__new-post-button:hover {
  opacity: 80%;
}

.profile__new-post-icon {
  padding-right: 8px;
}
